/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f8f9fa;
}

canvas {
  background-color: #fff;
}

.table th, .table td {
  vertical-align: middle !important;
}
